<section class="full-screen-section">
  <div class="overlay"></div>
  <div class="content">
    <h2>Your Dreams, Our Mission</h2>
    <h3>Enjoy a Life of Convenience and Comfort</h3>
    <p>The Apartment Home You've Always Wanted</p>
  </div>
</section>

<hr class="styled-hr">

<section>
  <div class="d-flex mt-3">
    <div class="ml-2 text-center d-flex flex-column justify-content-center align-items-start">
      <h2>Live Your Best Life With TRECA</h2>
      <h3>High End Apartments at an Affordable Price</h3>
      <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula massa, dictum et
        quam in,
        malesuada
        commodo
        mauris. Proin ac accumsan leo. Vivamus blandit tincidunt consectetur. Integer ut venenatis massa. Mauris laoreet
        nulla eu gravida auctor. Phasellus at ex mattis, imperdiet eros sed, eleifend nisl. Pellentesque eget venenatis
        quam. Aliquam lorem enim, convallis sed tempus aliquam, sollicitudin a magna. Nulla facilisi. Etiam sed arcu
        malesuada, porta lorem fringilla, rutrum mi. Etiam ullamcorper vulputate magna, vel ullamcorper augue
        scelerisque
        vel.
      </p>
    </div>
    <div class="d-flex col col-6 align-items-center justify-content-center fill">
      <img src="assets/apartment-photos/interior.jpg" alt="">
    </div>
  </div>
</section>

<section>
  <div class="d-flex mt-3">
    <div class="d-flex col col-6 align-items-center justify-content-center fill">
      <img class="" src="assets/apartment-photos/outside-across-street.jpg" alt="">
    </div>
    <div class="ml-3 text-center d-flex flex-column justify-content-center align-items-start">
      <h2>Well Structured Layouts</h2>
      <h3>Live Comfortably with Your Family</h3>
      <h3> No Matter Your Life Style</h3>
      <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula massa, dictum et
        quam in,
        malesuada
        commodo
        mauris. Proin ac accumsan leo. Vivamus blandit tincidunt consectetur. Integer ut venenatis massa. Mauris laoreet
        nulla eu gravida auctor. Phasellus at ex mattis, imperdiet eros sed, eleifend nisl. Pellentesque eget venenatis
        quam. Aliquam lorem enim, convallis sed tempus aliquam, sollicitudin a magna. Nulla facilisi. Etiam sed arcu
        malesuada, porta lorem fringilla, rutrum mi. Etiam ullamcorper vulputate magna, vel ullamcorper augue
        scelerisque
        vel.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="d-flex mt-3">
    <div class="ml-2 text-center d-flex flex-column justify-content-center align-items-start">
      <h2>Live Your Best Life With TRECA</h2>
      <h3>High End Apartments at an Affordable Price</h3>
      <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula massa, dictum et
        quam in,
        malesuada
        commodo
        mauris. Proin ac accumsan leo. Vivamus blandit tincidunt consectetur. Integer ut venenatis massa. Mauris laoreet
        nulla eu gravida auctor. Phasellus at ex mattis, imperdiet eros sed, eleifend nisl. Pellentesque eget venenatis
        quam. Aliquam lorem enim, convallis sed tempus aliquam, sollicitudin a magna. Nulla facilisi. Etiam sed arcu
        malesuada, porta lorem fringilla, rutrum mi. Etiam ullamcorper vulputate magna, vel ullamcorper augue
        scelerisque
        vel.
      </p>
    </div>
    <div class="d-flex mb-2 col col-6 align-items-center justify-content-center fill">
      <img src="assets/apartment-photos/interior.jpg" alt="">
    </div>
  </div>
  <hr>
  <h1 class="mt-4 text-center">Our Locations</h1>
  <p class="lead text-center">Our location at TRECA are home-centric. Providing easy access to both the McAllen
    Convention Center and La Plaza Mall, for
    your recreational activities. Just minutes away from the local college and public school. Our location are designed
    for you to stay.</p>
  <app-map></app-map>
</section>
