<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="ml-2" src="assets/logo.svg" alt="Logo" style="height: 40px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-us">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="applynowdropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Apply Now
        </a>
        <div class="dropdown-menu" aria-labelledby="applyNowDropdown">
          <a class="dropdown-item" href="/schedule-viewing">Schedule a Viewing</a>
          <a class="dropdown-item" href="/submit-application">Submit Application</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Resident Login</a>
      </li>
    </ul>
  </div>
</nav>
