<div class="container my-5">
  <h1 class="text-center">Services</h1>
  <p class="lead text-center">Services offered at TRECA Apartments include:</p>
  <hr class="styled-hr">
  <section>
    <div class="d-flex mt-3">
      <div class="ml-2 mr-3 d-flex flex-column justify-content-center align-items-start">
        <h2>Traditional Maintenence</h2>
        <p class="text-start">At TRECA Apartments, we offer comprehensive maintenance services to ensure your living
          experience is as comfortable and worry-free as possible. Our maintenance team is available 24/7 to address
          any issues that may arise in your apartment. Whether it's a leaky faucet, a malfunctioning appliance, or a
          broken window, our skilled technicians are ready to provide quick and efficient solutions. We prioritize
          your safety and comfort, and our goal is to resolve any maintenance requests promptly and professionally.
        </p>
      </div>
      <div class="d-flex col col-6 align-items-center justify-content-center fill">
        <img src="assets/services-images/additional-maint.avif" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex mt-3">
      <div class="d-flex col col-6 align-items-center justify-content-center fill">
        <img src="assets/services-images/garder.avif" alt="">
      </div>
      <div class="ml-3 text-center d-flex flex-column justify-content-center align-items-start">
        <h2>Garden Care</h2>
        <p class="text-start">Our garden care services ensure that the communal green spaces around TRECA Apartments
          are beautifully maintained. We take pride in our landscaping, providing a serene and aesthetically pleasing
          environment for all our residents to enjoy. Our gardening team regularly trims, waters, and tends to the
          plants and flowers, creating a lush and welcoming outdoor space.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex mt-3">
      <div class="ml-2 text-center d-flex flex-column justify-content-center align-items-start">
        <h2>Lawn Care</h2>
        <p class="text-start"> Lawn care is a top priority at TRECA Apartments. Our lawn care services include regular
          mowing, fertilizing, and pest control to keep the lawns looking green and healthy. We believe that
          well-maintained lawns enhance the overall appeal of our apartment complex and provide a great place for
          residents to relax and socialize. </p>
      </div>
      <div class="d-flex col col-6 align-items-center justify-content-center fill">
        <img src="assets/services-images/lawn-mowing.avif" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex mt-3">
      <div class="d-flex col col-6 align-items-center justify-content-center fill">
        <img src="assets/apartment-photos/interior.jpg" alt="">
      </div>
      <div class="ml-3 d-flex flex-column justify-content-center align-items-start">
        <h2>Additional Maintenence Services</h2>

        <p class="text-start"> In addition to general apartment maintenance, we offer a variety of other services to
          keep your living environment in top condition. These include: </p>
        <ul class="list-unstyled d-flex flex-column align-items-start">
          <li>Regular inspections and preventive maintenance</li>
          <li>HVAC system maintenance and repairs</li>
          <li>Electrical and plumbing services</li>
          <li>Pest control and extermination</li>
          <li>Common area cleaning and upkeep</li>
        </ul>
      </div>
    </div>
  </section>

</div>
